{{ define "edit" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit ID: {{ .Id }}</h1>
    <hr>
    <div>
        
        <form action="update?id={{.Id}}" method="post">
            <label for="fname">fullname: </label>
            <br>
            <input type="text" name="fname" id="fname" value="{{ .Name }}">
            <br>
            <label for="fage">age: </label>
            <br>
            <input type="number" name="fage" id="fage" value="{{ .Age }}">
            <br><br>
            <input type="submit" value="Update" min="1" max="120">

        </form>
    </div>
    <hr>
    <a href="/" target="_self">Home</a>
</body>
</html>

{{ end }}